body {
  background: url("http://4.bp.blogspot.com/-kGCbaHjvBCQ/VoIBrmEXj2I/AAAAAAAABBs/fBR0ez6XY6Y/s1600/imagenes-de-libros-abiertos-en-blanco-2.jpg");
  background-size: 100% 95%;
  background-position: bottom;
}
* {
  box-sizing: border-box;
}

/*Nav bar*/
nav {
  color: black;
  text-align: left;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

nav a {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}
/*nav bar cont*/
nav a:hover {
  background: mistyrose;
}

.month {
  font-family: 'Lobster', cursive;
  font-size: 200%;
  transform: translate(7%, -5%);
}

.day {
  font-family: 'Lobster', cursive;
  font-size: 200%;
  transform: translate(11.5%, -180%);
}

/*Taskbar - Victoria*/
#myUL {
  /*   removing margins and the padding from taskbar */
  color: grey;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #f9f9f9;
  font-size: 18px;
  transition: 0.2s;

  /*make list items unselectable*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myUL li:nth-child(odd) {
  background: #f9f9f9;
}

#myUL li:hover {
  background: mistyrose;
}

/* adds check mark/strike out/background color when clicked*/
#myUL li.checked {
  background: #bbb;
  color: dimgrey;
  text-decoration: line-through;
}
#myUL li.checked::before {
  content: '';
  position: absolute;
  border-color: grey;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: #ffced3;
  color: white;
}

.header {
  padding: 5px 30px;
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.hed {
  color:black;
}

/* clear floats after header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  border: none;
  width: 75%;
  padding: 4%;
  float: left;
  font-size: 16px;
}

/* Button to add the tasks */
.addBtn {
  padding: 1%;
  width: 25%;
  background: dimgrey;
  color: white;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.addBtn:hover {
  background-color: #bbb;
}

.sidebar {
  float: left;
  transform: translate(10% 50%)
}

.sidebar2 {
  float: right;
  margin: 1px 2px 2px 5px;
}

.hstk {
  width: 50px;
  height: 50px;
}
#drag-1, #drag-2, #drag-3, #drag-4, #drag-5, #drag-6, #drag-7, #drag-8, #drag-9, #drag-10, #drag-11, #drag-12, #drag-13, #drag-14, #drag-15, #drag-16, #drag-17, #drag-18, #drag-19, #drag-20, {
  width: 50px;
  height: 50px;
  margin: 0%;
  padding: 2%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

.draggable {
 width: 5%;
}

.plus {
  width: 50%;
  height: 3%;
}

.container {
  width: 80%;
}

.centered {
  position: fixed;
  top: 15%;
  left: 15%;
  margin-top: -50px;
  margin-left: -100px;
}

.stack1{
  float: left;
  overflow: visible;
  position: fixed;
  z-index: 1000;
}
