nav {
  color: black;
  text-align: left;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}
nav a {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}
/*nav bar cont*/
nav a:hover {
  background: grey;
}
/* the "someone's calendar"*/
div someone {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}


h1, h2, h3 {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

p1, p2, p3, p4 {
  color: black;
  text-align: center;
  margin: 40px 40px 40px 40px;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  background-color: mistyrose;
  margin-left: 40px;
  margin-right: 40px;
}

.center {
  text-align: center;
}
.about {
  font-family: serif;
}

.pcb {
  width: 100px;
  height: 100px;
  /*width: 20%;
  height: 20%;*/
}
.linkedin {
  text-align: center;
}

.inline {
  display: inline-block;
}

.name {
  font-family: 'Lobster', cursive;
}
