/*nav bar*/
nav {
  color: black;
  text-align: left;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}
/*img {
  width: 150px;
  height: auto;
  float: right;
}*/
yo {
  float: right;
font-size: 35px;
color: #1abc9c;
}
nav a {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}
/*nav bar cont*/
nav a:hover {
  background: grey;
}
/* the "someone's calendar"*/
div someone {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}


h1, h2, h3 {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}

/*p1, p2, p3, p4 */ .para {
  color: black;
  text-align: justify;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  background-color: mistyrose;
}

.center {
  text-align: center;
}
.about {
  font-family: serif;
}

.pcb {
  width: 100px;
  height: 100px;
  /*width: 20%;
  height: 20%;*/
}
.linkedin {
  text-align: center;
}

.inline {
  display: inline-block;
}

.name {
  font-family: 'Acme', sans-serif;
}
