/*Background of the home page*/
ul {
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  background-color: mistyrose;
}
.heading {
  font-family: 'Acme', sans-serif;
}

.sidebar {
  /*float: right;*/
  position: absolute;
    top: 10%;
    right: .5%;
  width: 24%;
}

yo {
font-size: 35px;
color: #1abc9c;
}
/*nav bar*/
nav {
  color: black;
  text-align: left;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}
nav a {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}
/*nav bar cont*/
nav a:hover {
  background: grey;
}
/* the "someone's calendar"*/
div someone {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}

/* Calendar - Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  height: 30%;
  background: #1abc9c;
  font-family: 'Acme', sans-serif;
}
/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}
.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}
/* Calendar - Next button */
.month .next {
  float: right;
  padding-top: 10px;
}
/* Calendar - Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  font-family: 'Acme', sans-serif;
}
.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}
/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}
.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}
/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}
.calendar {
  /*float: left;*/
  position: relative;
    top: 0%;
    left: 0;
  width: 50%;
}

/*taskbar css*/

.header {
  background-color: #1abc9c;
  padding: 5px 30px;
  color: white;
  text-align: center;
  font-family: 'Acme', sans-serif;
}
/* clear floats after header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  color: #eee;
}

/*myUl*/
#myUL {
  /*   removing margins and the padding from taskbar */
  color: grey;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #f9f9f9;
  font-size: 18px;
  transition: 0.2s;

  /*make list items unselectable*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myUL li:nth-child(odd) {
  background: #f9f9f9;
}

#myUL li:hover {
  background: mistyrose;
}

/* adds check mark/strike out/background color when clicked*/
#myUL li.checked {
  background: #bbb;
  color: dimgrey;
  text-decoration: line-through;
}
#myUL li.checked::before {
  content: '';
  position: absolute;
  border-color: grey;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: #ffced3;
  color: white;
}

input {
  border: none;
  height: 50%;
  width: 75%;
  padding: 2%;
  float: left;
  font-size: 16px;
}

/*BUTTONS*/
/* Button to add the tasks */
.addBtn {
  padding: 2%;
  width: 25%;
  background: dimgrey;
  color: white;
  float: left;
  text-align: center;
  font-size: 90%;
  cursor: pointer;
  transition: 0.3s;
}
.addBtn:hover {
  background-color: #bbb;
}

/* styles the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: #ffced3;
  color: white;
}

/*Quote css*/
.quoty {
  position: fixed;
  bottom: 10px;
  width: 100%;
  font-family: 'Acme', sans-serif;
  font-size: 50px;
}

.quoteBtn {
  font-family: 'Acme', sans-serif;
  width: 7%;
  height: 3%;
  background: #1abc9c;
  color: black;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  }
  .quoteBtn:hover {
    background-color: #bbb;
  }
}
.quote {
  text-align: left;
}
/*quote generator*/
section p, .container-fluid {
  text-align: center;
  padding-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: #red;
  font-family: cursive, sans-serif;
}

#quoteDisplay.clear {
  clear: both;
}
section {
  min-height: 90vh;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 10px;
}

.tak {
  color: black;
}

/*NOTES*/

.flex-container {
  position: relative;
    bottom: 0%;
    left: 75%;
  width: 22%;
  flex-direction:column;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 30px;

  clear: both;
}

.post {
  width: 50%;
}



.color-panel{
    height:60px;
    background: white;
    border-bottom-color: gray;
    border-bottom-style: solid;
    display: none;
    width: 50%;

}
.palette{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.cbutton.one{
    flex: 1.5;
    background: #99ccff;
    cursor: pointer;
}
.cbutton.two{
    flex-grow: 1.5;
    background: #cc99ff;
    cursor: pointer;
}
.cbutton.three{
    flex-grow: 1.5;
    background: white;
    cursor: pointer;
}

.cbutton.four{
    flex-grow: 1.5;
    background: #FFFFA5;
    cursor: pointer;
}
.cbutton.five{
    flex-grow: 1.5;
    background: #ff9999;
    cursor: pointer;
}


.cbutton:hover {
    border-color: gray;
    border-style: solid;
    border-width: thin;
}

.center-header {
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  color: black;
  padding-bottom: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-color: grey;
    border-style: solid;
    border-width: thin;
    border-bottom-color: grey;
    min-height: 40px;
    width:50%;
    background: #1abc9c;
}

.notes-list-container {
    height: 50%;
    min-height: 50px;
    width: 50%;
    border-style: solid;
    border-width: thin;
    border-color: white;
    border-top-style: none;
    background: white;
    overflow-y: auto;
}

.button {
  cursor: pointer;
  display: block;
  color: #404040;
  width: 100%;
  height: 1em;
  font-weight: 900;
  font-size: 0.9em;
  text-align:center;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 50px;
  transition-duration:0.4s;
}

.button.color{
    display: none;
}
.button.done{
    display: none;
}
.button.delete{
    display: none;
}

.button:hover {
  color:#e9e0e9;
}

#notes ul{
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

#notes li {
    position:relative;
    border-bottom: 1px dotted black;
    padding: 10px 40px 10px 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paper-container {
  display: none;
  height: 50%;
  width:100%;
  min-height:50px;
  max-height: 50%;
  min-width: 100%;

}

#notes li span{
    position: absolute;
    padding: 4px 4px 4px 4px;
    top: 5px;
    right: 4px;
    text-align: center;
    color: red;
    width: 10px;
}

#notes li span:hover {
    color:#e9e0e9;
}

#notes li:hover {
    border-bottom-color: black;
    border-style: solid;
    border-width: medium;
}

textarea {
  width: 50%;
  resize: none;
}

/*making sure the quotes dont intersect with the notes -abc*/
.quoty {
 float:left;
 width:50%;
}

.dt {
  font-size: 30px;
}
